.sliders_wrapper {
  position: absolute;
  top: 12%;
  height: 100%;
  width: 100%;
  left: 0;
  max-height: 700px;
}

@media (max-width: 767.98px) {
  .sliders_wrapper {
    max-height: 300px;
  }
}
